.App {
  text-align: center;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App footer {
  font-size: 11px;
  margin: 20px 0;
  padding-top: 0.5rem;
}

ul{
  list-style: none;
  display: inline-block;
 
}
.details li{
  padding-bottom: 20px;
}
.details li:first-child {
  display: inline-flex;
  align-items: center;
}
.card{
  width: 40%;
  margin-top: 3rem;
  padding-top: 0.5rem;
  font-family: 'Roboto Mono', monospace;
}

@media (max-width: 768px) {
  .card {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 80%;
    margin-top: 2rem;
  }
}