.App {
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App footer {
  font-size: 11px;
  margin: 20px 0;
}

ul{
  list-style: none;
}